{{define "content"}}
<!-- BEGIN section -->
<div class="section pt-4 pb-0">
    <!-- BEGIN container -->
    <div class="container">
        <div class="d-flex mb-5">
            <h4 class="mb-0">Our Company</h4>
        </div>
    </div>
    <!-- END container -->
</div>
<!-- END section -->

<!-- BEGIN section -->
<div class="section pt-0">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN row -->
        <div class="row gx-0 align-items-center">
            <!-- BEGIN col-6 -->
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img
                    class="mw-100"
                    src="/assets/home/img/corporate/img-7.jpg"
                    alt=""
                />
            </div>
            <!-- END col-6 -->
            <!-- BEGIN col-6 -->
            <div class="col-lg-6 px-lg-5">
                <div class="display-5 fw-bolder mb-2">
                    Hi, we're Techpro.club
                </div>
                <div class="fs-20px fw-bold text-gray-600 mb-3 mb-lg-5">
                    We are a small team of people working from various parts of
                    the world with a common idea to help students and freshers
                    skill up. We believe that if we help the open source
                    community, it gives us a lot back.
                </div>
                <div class="text-dark text-opacity-50">
                    <img
                        src="assets/img/golang_logo.png"
                        height="30"
                        alt="golang logo"
                        class="me-4"
                    />
                    <img
                        src="assets/img/mongodb_logo.png"
                        height="30"
                        alt="mongodb logo"
                        class="me-4"
                    />
                    <img
                        src="assets/img/bootstrap_logo.png"
                        height="30"
                        alt="bootstrap logo"
                    />
                </div>
            </div>
            <!-- END col-6 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- END section -->

<!-- BEGIN section -->
<div class="section bg-light">
    <!-- BEGIN container -->
    <div class="container position-relative">
        <!-- BEGIN row -->
        <div class="row gx-5 align-items-center">
            <!-- BEGIN col-6 -->
            <div class="col-lg-6">
                <h4 class="opacity-5">Our Culture</h4>
                <div class="section-title">Play, fun, works together</div>
                <div class="section-desc fw-bold fs-16px">
                    In our company, we are constantly iterating, solving
                    problems and working together to serve developers all over
                    the world. That’s why it’s important that our workforce
                    reflects the diversity of the people we serve. Hiring people
                    with different backgrounds and points of view helps us make
                    better decisions, build better products and create better
                    experiences for everyone.
                </div>
            </div>
            <!-- END col-6 -->
            <!-- BEGIN col-6 -->
            <div class="col-lg-6">
                <img
                    class="mw-100"
                    src="/assets/home/img/corporate/img-13.jpg"
                    alt=""
                />
            </div>
            <!-- END col-6 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- END section -->

<!-- BEGIN section -->
<div class="section">
    <div class="container">
        <h4 class="mb-4">Our Executives</h4>
        <!-- BEGIN row -->
        <div class="row gx-5">
            <!-- BEGIN col-3 -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- BEGIN news -->
                <div class="news mb-5">
                    <div class="news-media mb-3">
                        <div
                            class="news-media-img news-media-img-lg"
                            style="
                                background-image: url(/assets/home/img/corporate/user-1.jpg);
                            "
                        ></div>
                    </div>
                    <div class="fw-bold fs-16px">
                        Umar Wallace, Founder, Chairman and Chief Executive
                        Officer
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <!-- END news -->
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- BEGIN news -->
                <div class="news mb-5">
                    <div class="news-media mb-3">
                        <div
                            class="news-media-img news-media-img-lg"
                            style="
                                background-image: url(/assets/home/img/corporate/user-2.jpg);
                            "
                        ></div>
                    </div>
                    <div class="fw-bold fs-16px">
                        Eiliyah Salinas, Chief Operating Officer
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <!-- END news -->
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- BEGIN news -->
                <div class="news mb-5">
                    <div class="news-media mb-3">
                        <div
                            class="news-media-img news-media-img-lg"
                            style="
                                background-image: url(/assets/home/img/corporate/user-3.jpg);
                            "
                        ></div>
                    </div>
                    <div class="fw-bold fs-16px">
                        Rikesh Callahan, Chief Technology Officer
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <!-- END news -->
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- BEGIN news -->
                <div class="news mb-5">
                    <div class="news-media mb-3">
                        <div
                            class="news-media-img news-media-img-lg"
                            style="
                                background-image: url(/assets/home/img/corporate/user-4.jpg);
                            "
                        ></div>
                    </div>
                    <div class="fw-bold fs-16px">
                        Ozan Nolan, Chief Financial Officer
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <!-- END news -->
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- BEGIN news -->
                <div class="news mb-5">
                    <div class="news-media mb-3">
                        <div
                            class="news-media-img news-media-img-lg"
                            style="
                                background-image: url(/assets/home/img/corporate/user-5.jpg);
                            "
                        ></div>
                    </div>
                    <div class="fw-bold fs-16px">
                        Aila Thornton, Chief Product Officer
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <!-- END news -->
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- BEGIN news -->
                <div class="news mb-5">
                    <div class="news-media mb-3">
                        <div
                            class="news-media-img news-media-img-lg"
                            style="
                                background-image: url(/assets/home/img/corporate/user-6.jpg);
                            "
                        ></div>
                    </div>
                    <div class="fw-bold fs-16px">
                        Kamron Cox, Chief Marketing Officer and VP of Analytics
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <!-- END news -->
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- BEGIN news -->
                <div class="news mb-5">
                    <div class="news-media mb-3">
                        <div
                            class="news-media-img news-media-img-lg"
                            style="
                                background-image: url(/assets/home/img/corporate/user-7.jpg);
                            "
                        ></div>
                    </div>
                    <div class="fw-bold fs-16px">
                        Fergus Ramsey, Chief Revenue Officer
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <!-- END news -->
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- BEGIN news -->
                <div class="news mb-5">
                    <div class="news-media mb-3">
                        <div
                            class="news-media-img news-media-img-lg"
                            style="
                                background-image: url(/assets/home/img/corporate/user-8.jpg);
                            "
                        ></div>
                    </div>
                    <div class="fw-bold fs-16px">
                        Persephone Myers, General Counsel
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <!-- END news -->
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- BEGIN news -->
                <div class="news mb-5">
                    <div class="news-media mb-3">
                        <div
                            class="news-media-img news-media-img-lg"
                            style="
                                background-image: url(/assets/home/img/corporate/user-9.jpg);
                            "
                        ></div>
                    </div>
                    <div class="fw-bold fs-16px">
                        Jorden Reed, Chief Diversity Officer
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <!-- END news -->
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <!-- BEGIN news -->
                <div class="news mb-5">
                    <div class="news-media mb-3">
                        <div
                            class="news-media-img news-media-img-lg"
                            style="
                                background-image: url(/assets/home/img/corporate/user-10.jpg);
                            "
                        ></div>
                    </div>
                    <div class="fw-bold fs-16px">
                        Eiliyah Mcconnell, Chief Privacy Officer
                    </div>
                    <a href="#" class="stretched-link"></a>
                </div>
                <!-- END news -->
            </div>
            <!-- END col-3 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- END section -->
{{end}}
