<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="description"
            content="We help people build their career portfolios
		by encouraging them to contribute to open-source projects."
        />
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        <meta name="author" content="Techpro Club" />
        <title>Techpro Club - Portfolio for developers</title>
        <meta
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
            name="viewport"
        />

        <!-- ================== BEGIN core-css ================== -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
            rel="stylesheet"
        />
        <link
            href="/assets/home/css/corporate/vendor.min.css"
            rel="stylesheet"
        />
        <link href="/assets/home/css/corporate/app.min.css" rel="stylesheet" />

        <link href="/assets/home/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
        <!-- ================== END core-css ================== -->
    </head>
    <body>
        <!-- begin #page-loader -->
        <div id="page-loader" class="fade show">
            <span class="spinner"></span>
        </div>
        <!-- end #page-loader -->
        <!-- BEGIN #page-container -->
        <div id="page-container">
            <!-- BEGIN header -->
            <div class="header header-float">
                <div class="container d-flex">
                    <div class="header-logo">
                        <a href="/" class="logo-link">
                            <img
                                src="assets/img/logo_white.png"
                                alt="Techpro.club logo white"
                                height="40"
                            />
                        </a>
                    </div>
                    <div class="header-nav">
                        <div class="container">
                            <div class="header-nav-item">
                                <a href="/company" class="header-nav-link"
                                    >Who We Are</a
                                >
                            </div>

                            <div class="header-nav-item">
                                <a
                                    href="https://blogs.techpro.club"
                                    target="_blank"
                                    class="header-nav-link"
                                    >Blogs</a
                                >
                            </div>
                            {{/* <div class="header-nav-item">
                                <a
                                    href="/videos"
                                    class="header-nav-link"
                                    >Training Videos</a
                                >
                            </div> */}}
                            <div class="header-nav-item">
                                <a href="/careers" class="header-nav-link"
                                    >Careers</a
                                >
                            </div>
                            <div class="header-nav-item">
                                <a href="/contactus" class="header-nav-link"
                                    >Contact Us</a
                                >
                            </div>
                        </div>
                    </div>

                    <button
                        class="header-mobile-nav-toggler"
                        type="button"
                        data-toggle="header-mobile-nav"
                    >
                        <span class="header-mobile-nav-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <!-- END header -->

            <!-- BEGIN section -->
            <div class="section section-hero">
                <!-- BEGIN section-bg -->
                <div
                    class="section-bg with-cover"
                    style="
                        background-image: url(/assets/home/img/corporate/img-1.jpg);
                    "
                ></div>
                <div class="section-bg bg-gray-800 bg-opacity-50"></div>
                <!-- END section-bg -->

                <!-- BEGIN container -->
                <div class="container position-relative">
                    <!-- BEGIN section-hero-content -->
                    <div class="section-hero-content">
                        <!-- BEGIN row -->
                        <div class="row">
                            <!-- BEGIN col-8 -->
                            <div class="col-lg-8 col-lg-10">
                                <!-- BEGIN hero-title-desc -->
                                <h1 class="hero-title mb-3 mt-5 pt-md-5">
                                    Build your career today
                                </h1>
                                <div class="fs-18px text-white text-opacity-80">
                                    Join us today as an opensource
                                    project owner or a developer to start your career journey.
                                </div>
                                <!-- END hero-title-desc -->

                                <!-- BEGIN row -->
                                <div class="row text-white mt-4 mb-5 pb-5">
                                    <!-- BEGIN col-4 -->
                                    <div class="col-lg-4 mb-3 mb-lg-0">
                                        <a href="/contributors/github/login" class="btn btn-social btn-github btn-lg btn-primary">
                                            <span class="fab fa-github"></span> Sign in with Github
                                        </a>
                                    </div>
                                    <!-- END col-4 -->
                                </div>
                                <!-- END row -->

                                <a
                                    href="/company"
                                    class="hero-btn fw-bold mb-n5"
                                    ><i class="fa fa-arrow-right"></i> Learn
                                    About Our Company</a
                                >
                            </div>
                            <!-- END col-8 -->
                        </div>
                        <!-- END row -->
                    </div>
                    <!-- END section-hero-content -->
                </div>
                <!-- END container -->
            </div>
            <!-- END section -->

            <!-- BEGIN section -->
            <div class="section">
                <!-- BEGIN container -->
                <div class="container">
                    <!-- BEGIN section-title -->
                    <div class="pt-lg-5 pb-lg-3 text-center">
                        <div
                            class="display-6 fw-bolder mb-3 d-flex align-items-center justify-content-center"
                        >
                            Our mission
                        </div>
                        <p class="fs-18px mb-5">
                            We help students and freshers build their career
                            portfolios
                            <span class="d-none d-lg-inline"><br /></span>by
                            encouraging them to contribute to open-source
                            projects.
                        </p>

                        <div class="mb-4 fw-bold text-black">
                            Built on top of
                        </div>
                        <div class="text-gray-500 text-center mb-5">
                            <img
                                src="assets/img/golang_logo.png"
                                height="30"
                                alt="golang logo"
                                class="me-4"
                            />
                            <img
                                src="assets/img/mongodb_logo.png"
                                height="30"
                                alt="mongodb logo"
                                class="me-4"
                            />
                            <img
                                src="assets/img/bootstrap_logo.png"
                                height="30"
                                alt="bootstrap logo"
                            />
                        </div>

                        <div class="mb-4 fw-bold text-black">
                            Star us on Github
                        </div>

                        <a
                            class="github-button"
                            href="https://github.com/ClubTechPro/techpro.club"
                            data-color-scheme="no-preference: light; light: light; dark: dark;"
                            data-size="large"
                            data-show-count="true"
                            aria-label="Star ClubTechPro/techpro.club on GitHub"
                            >Star</a
                        >
                    </div>
                    <!-- END section-title -->
                </div>
                <!-- END container -->
            </div>
            <!-- END section -->

            <!-- BEGIN section -->
            <div class="section bg-light">
                <!-- BEGIN container -->
                <div class="container">
                    <!-- BEGIN row -->
                    <div class="row align-items-center">
                        <!-- BEGIN col-6 -->
                        <div class="col-lg-6 pe-lg-4 mb-5 mb-lg-0">
                            <div class="section-subtitle">Our Platform</div>
                            <div class="section-title">Why Us?</div>
                            <div class="section-desc">
                                <p>
                                    As a new programmer, you have a tremendous opportunity to learn and create fantastic softwares.
                                </p>
                                <p>
                                    <b
                                        ><a href="https://techpro.club"
                                            >Techpro club</a
                                        ></b
                                    > is a platform to help you hone your programming skills and learn to collaborate with people early on in your career.
                                </p>
                                <p>
                                    While you contribute to projects, ask questions, and share your knowledge, we track them down in one place and help you build a better portfolio.
                                </p>
                                <p>
                                    We are open-source, and if you wish to
                                    contribute to us or report a bug, please
                                    visit our
                                    <a
                                        href="https://github.com/ClubTechPro/techpro.club"
                                        target="_blank"
                                        >Github repository here</a
                                    >
                                </p>
                            </div>
                            <a href="/company" class="section-btn"
                                ><i class="fa fa-arrow-right"></i> Learn More</a
                            >
                        </div>
                        <!-- END col-6 -->
                        <!-- BEGIN col-6 -->
                        <div class="col-lg-6 ps-lg-4">
                            <div class="section-media">
                                <img
                                    src="/assets/home/img/corporate/img-5.jpg"
                                    alt=""
                                    class="mw-100"
                                />
                            </div>
                        </div>
                        <!-- END col-6 -->
                    </div>
                    <!-- END row -->
                </div>
                <!-- END container -->
            </div>
            <!-- END section -->

            <div class="section">
                <div class="container">
                    <!-- Start: Desc -->
                    <div class="row me-row content-ct" id="features">
                        <div class="section-title">Features</div>
                        <div class="section-subtitle">For Developers</div>

                        <div class="col-lg-4">
                            <!-- BEGIN card -->
                            <div class="card shadow border-0 mb-5">
                                <div class="card-body p-4">
                                    <div
                                        class="mb-3 w-50px h-50px rounded-3 bg-indigo text-white d-flex align-items-center justify-content-center position-relative"
                                    >
                                        <i
                                            class="fa-solid fa-diagram-project fs-28px"
                                        ></i>
                                    </div>
                                    <h4>Projects</h4>
                                    <p class="fw-bold text-gray-600 mb-0">
                                        Innumerable projects to work on based
                                        upon your matching skills and many more
                                        to learn.
                                    </p>
                                </div>
                            </div>
                            <!-- END card -->
                        </div>

                        <div class="col-lg-4">
                            <!-- BEGIN card -->
                            <div class="card shadow border-0 mb-5">
                                <div class="card-body p-4">
                                    <div
                                        class="mb-3 w-50px h-50px rounded-3 bg-primary-500 text-white d-flex align-items-center justify-content-center position-relative"
                                    >
                                        <i
                                            class="fa-solid fa-id-badge fs-28px"
                                        ></i>
                                    </div>
                                    <h4>Developer portfolio</h4>
                                    <p class="fw-bold text-gray-600 mb-0">
                                        As you keep contributing, you will learn
                                        and build a solid portfolio.
                                    </p>
                                </div>
                            </div>
                            <!-- END card -->
                        </div>

                        <div class="col-lg-4">
                            <!-- BEGIN card -->
                            <div class="card shadow border-0 mb-5">
                                <div class="card-body p-4">
                                    <div
                                        class="mb-3 w-50px h-50px rounded-3 bg-orange text-white d-flex align-items-center justify-content-center position-relative"
                                    >
                                        <i class="fa-solid fa-star fs-28px"></i>
                                    </div>
                                    <h4>Get Hired</h4>
                                    <p class="fw-bold text-gray-600 mb-0">
                                        Get hired and receive recommendations
                                        from your employers
                                    </p>
                                </div>
                            </div>
                            <!-- END card -->
                        </div>

                        <div class="section-subtitle">For Project Owners</div>

                        <div class="col-lg-4">
                            <!-- BEGIN card -->
                            <div class="card shadow border-0 mb-5">
                                <div class="card-body p-4">
                                    <div
                                        class="mb-3 w-50px h-50px rounded-3 bg-red text-white d-flex align-items-center justify-content-center position-relative"
                                    >
                                        <i class="fa-solid fa-list fs-28px"></i>
                                    </div>
                                    <h4>Multiple Projects</h4>
                                    <p class="fw-bold text-gray-600 mb-0">
                                        Post and manage your projects for free.
                                        Its unlimited and with no time
                                        boundations!
                                    </p>
                                </div>
                            </div>
                            <!-- END card -->
                        </div>

                        <div class="col-lg-4">
                            <!-- BEGIN card -->
                            <div class="card shadow border-0 mb-5">
                                <div class="card-body p-4">
                                    <div
                                        class="mb-3 w-50px h-50px rounded-3 bg-info text-white d-flex align-items-center justify-content-center position-relative"
                                    >
                                        <i class="fa fa-users fs-28px"></i>
                                    </div>
                                    <h4>Contributors</h4>
                                    <p class="fw-bold text-gray-600 mb-0">
                                        Find the best project contributors
                                        across the world according to your
                                        project needs
                                    </p>
                                </div>
                            </div>
                            <!-- END card -->
                        </div>

                        <div class="col-lg-4">
                            <!-- BEGIN card -->
                            <div class="card shadow border-0 mb-5">
                                <div class="card-body p-4">
                                    <div
                                        class="mb-3 w-50px h-50px rounded-3 bg-yellow text-black d-flex align-items-center justify-content-center position-relative"
                                    >
                                        <i class="fa fa-eye fs-28px"></i>
                                    </div>
                                    <h4>More visibility</h4>
                                    <p class="fw-bold text-gray-600 mb-0">
                                        Through our network you get instant
                                        visibility to your contributors and
                                        adopters
                                    </p>
                                </div>
                            </div>
                            <!-- END card -->
                        </div>
                    </div>
                    <!-- End: Desc -->

                    <div class="fw-bold text-gray-600 mb-0 text-center">
                        Join us today and start building your career journey
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <a href="/contributors/github/login" class="btn btn-social btn-github btn-lg">
                            <span class="fab fa-github"></span> Sign in with Github
                        </a>
                    </div>
                    
                </div>
            </div>

            <!-- BEGIN section -->
            <div class="section">
                <!-- BEGIN container -->
                <div class="container">
                    <div class="section-subtitle">Recent Blogs</div>

                    <!-- BEGIN row -->
                    <div class="row gx-5 mb-5">
                        <!-- BEGIN col-6 -->
                        <div class="col-lg-6">
                            <!-- BEGIN news -->
                            <div
                                class="news rounded-3 overflow-hidden shadow-lg mb-5 mb-lg-0"
                            >
                                <div class="news-media mb-0">
                                    <div
                                        class="news-media-img"
                                        style="
                                            background-image: url(/assets/home/img/blogs/techprofile.jpg);
                                        "
                                    ></div>
                                </div>
                                <div class="news-content px-4 py-4">
                                    <div class="news-label">
                                        <span class="bg-teal-200 text-teal-800"
                                            >News</span
                                        >
                                    </div>
                                    <div class="news-title">
                                        Helping freshers and students build a tech protfolio
                                    </div>
                                    <div class="news-date">
                                        August 04, 2022
                                    </div>
                                </div>
                                <a href="#" class="stretched-link"></a>
                            </div>
                            <!-- END news -->
                        </div>
                        <!-- END col-6 -->
                        <!-- BEGIN col-6 -->
                        <div class="col-lg-6">
                            <div class="row h-100">
                                <div
                                    class="col-lg-12 h-50 mb-5 mb-lg-0 pb-lg-3"
                                >
                                    <!-- BEGIN news -->
                                    <div
                                        class="news rounded-3 overflow-hidden shadow-lg d-flex h-100 mb-0"
                                    >
                                        <div
                                            class="news-content w-50 p-4 d-flex align-items-center"
                                        >
                                            <div>
                                                <div class="news-label">
                                                    <span
                                                        class="bg-warning-200 text-warning-800"
                                                        >News</span
                                                    >
                                                </div>
                                                <div class="news-title">
                                                    How Hashnode help our platform get traction
                                                </div>
                                                <div class="news-date">
                                                    June 26, 2022
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news-media w-50 h-100 mb-0">
                                            <div
                                                class="news-media-img h-100 pt-0"
                                                style="
                                                    background-image: url(/assets/home/img/blogs/hashnode.jpg);
                                                "
                                            ></div>
                                        </div>
                                        <a href="https://blogs.techpro.club/how-did-hashnode-help-my-project-get-traction" class="stretched-link"></a>
                                    </div>
                                    <!-- END news -->
                                </div>
                                <div
                                    class="col-lg-12 h-50 mb-5 mb-lg-0 pt-lg-3"
                                >
                                    <!-- BEGIN news -->
                                    <div
                                        class="news rounded-3 overflow-hidden shadow-lg d-flex h-100 mb-0"
                                    >
                                        <div class="news-media w-50 mb-0">
                                            <div
                                                class="news-media-img h-100 pt-0"
                                                style="
                                                    background-image: url(/assets/home/img/blogs/techproclub_blog.jpg);
                                                "
                                            ></div>
                                        </div>
                                        <div
                                            class="news-content w-50 p-4 d-flex align-items-center"
                                        >
                                            <div>
                                                <div class="news-label">
                                                    <span
                                                        class="bg-primary-200 text-theme-800"
                                                        >Launch</span
                                                    >
                                                </div>
                                                <div class="news-title">
                                                    Introducing Techpro.club
                                                </div>
                                                <div class="news-date">
                                                    June 15, 2022
                                                </div>
                                            </div>
                                        </div>
                                        <a href="https://blogs.techpro.club/introducing-techproclub-a-platform-to-discover-amazing-opensource-projects" class="stretched-link"></a>
                                    </div>
                                    <!-- END news -->
                                </div>
                            </div>
                        </div>
                        <!-- END col-6 -->
                    </div>
                    <!-- END row -->

                    <div class="text-center pt-5 pt-lg-0">
                        <a
                            href="https://blogs.techpro.club"
                            target="_blank"
                            class="section-btn"
                            ><i class="fa fa-arrow-right"></i> See More Blogs</a
                        >
                    </div>
                </div>
                <!-- END container -->
            </div>
            <!-- END section -->

            <!-- BEGIN footer -->
            <div class="footer">
                <div class="container">
                    <div class="row gx-5">
                        <div class="col-lg-3 mb-4 mb-lg-0">
                            <div class="footer-logo">
                                <img
                                    src="/assets/img/logo_black.png"
                                    alt="techrpo.club logo black"
                                    height="30"
                                />
                            </div>
                            <p class="footer-desc">
                                Lets create an amazing portfolio for your journey into tech by contributing to open-source projects
                            </p>
                            <h4 class="footer-title">Follow Us</h4>
                            <div class="footer-media-list mb-4">
                                <a href="#" class="me-2"
                                    ><i class="fab fa-lg fa-twitter fa-fw"></i
                                ></a>
                                <a href="#" class="me-2"
                                    ><i class="fab fa-lg fa-github fa-fw"></i
                                ></a>
                            </div>
                            <!-- Sponsor us -->
                            <h4 class="footer-title">Sponsor Us</h4>
                            <a
                                class="github-button"
                                href="https://github.com/sponsors/ClubTechPro"
                                data-color-scheme="no-preference: light; light: light; dark: dark;"
                                data-icon="octicon-heart"
                                data-size="large"
                                aria-label="Sponsor @ClubTechPro on GitHub"
                                >Sponsor</a
                            >
                        </div>
                        <div class="col-lg-3 mb-4 mb-lg-0">
                            <h4 class="footer-title">Company</h4>
                            <ul class="footer-link-list">
                                <li>
                                    <a
                                        href="https://blogs.techpro.club"
                                        target="_blank"
                                        >Blogs</a
                                    >
                                </li>
                                <li><a href="/company">Company Info</a></li>
                                <li><a href="/careers">Careers</a></li>
                                <li><a href="/brand">Brand Resources</a></li>
                                {{/* <li><a href="/campus">Campus Ambassadors</a></li> */}}
                            </ul>
                            <hr class="my-4 text-gray-600" />
                            <h4 class="footer-title">Policies</h4>
                            <ul class="footer-link-list">
                                <li><a href="https://github.com/ClubTechPro/techpro.club/blob/master/CODE_OF_CONDUCT.md" target="_blank">Contributor Guidelines</a></li>
                                <li><a href="/privacy-policy">Privacy Policy</a></li>
                                <li><a href="/cookie-policy">Cookie Policy</a></li>
                                <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 mb-4 mb-lg-0">
                            <h4 class="footer-title">FAQs</h4>
                            <ul class="footer-link-list">
                                <li><a href="#">Projects</a></li>
                                <li><a href="#">Developers</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 mb-4 mb-lg-0">
                            <h4 class="footer-title">Help Center</h4>
                            <ul class="footer-link-list">
                                <li><a href="/contactus">Contact Form</a></li>
                                <li><a href="https://github.com/ClubTechPro/techpro.club/issues/new/choose" target="_blank">Report Bugs</a></li>
                                {{/* <li><a href="/videos">Training Videos</a></li> */}}
                            </ul>
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <div class="row">
                            <div
                                class="col-lg-6 text-center text-lg-start mb-3 mb-lg-0"
                            >
                                <div class="footer-copyright-text">
                                    Techprpo.club. Distributed under MIT License.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END footer -->
        </div>
        <!-- end page container -->

        <!-- ================== BEGIN BASE JS ================== -->
        <script src="/assets/home/js/corporate/vendor.min.js"></script>
        <script src="/assets/home/js/corporate/app.min.js"></script>

        <!-- ================== END BASE JS ================== -->

        <!-- ================== GITHUB STAR ================== -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>

        <!-- ================== GOOGLE TAG ================== -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GH8ZTCTKD0"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-GH8ZTCTKD0');
        </script>
    </body>
</html>
