<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Support the open source community" />
        <link rel="icon" type="image/x-icon" href="/assets/logos/favicon.png" />
        <meta name="author" content="Techpro Club" />
        <title>Techpro Club</title>

        <!-- Bootstrap -->
        <link href="../assets/app/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../assets/app/css/style.css" rel="stylesheet" />
        <link href="../assets/app/css/themify-icons.css" rel="stylesheet" />
        <link
            href="../assets/home/css/dosis-font.css"
            rel="stylesheet"
            type="text/css"
        />
    </head>
    <body>
        <div id="headerContent" class="align-middle">
            <span class="logo"
                ><a href="/">
                    <img
                        src="../assets/logos/techpro-club-logo.png"
                        height="40"
                        alt="techpro club logo"
                    />
                </a>
                Beta
            </span>

            <span class="menu"
                ><span
                    ><a href="https://blogs.techpro.club" target="_blank"
                        ><button class="btn btn-warning text-dark">
                            Blogs
                        </button></a
                    ></span
                >
                <span
                    ><a
                        href="https://github.com/ClubTechPro/techpro.club"
                        target="_blank"
                        ><button class="btn btn-warning text-dark">
                            Github
                        </button></a
                    ></span
                >
            </span>
        </div>
        <div id="centerContent">
            <div class="container">
                <h3>Your project listings</h3>
                <br />
                <hr />
                <div class="row">
                    <div class="col col-md-12 col-sm-6">
                        <h4>
                            Hello project <small><a href="">Edit</a></small>
                        </h4>
                        <small class="text-muted">
                            Active, 20th March 2022

                            <a href="#" target="_blank"
                                ><span class="ti-link"> </span
                                >http://google.com</a
                            ></small
                        >
                        <p>
                            Description of the project appears here with the
                            info on the project's objective and list of
                            frameworks and programming languages used. Limited
                            to some characters
                        </p>
                        <p><span class="badge badge-warning">New</span></p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col col-md-12 col-sm-6">
                        <h4>
                            Hello project <small><a href="">Edit</a></small>
                        </h4>
                        <small class="text-muted">
                            Active, 20th March 2022

                            <a href="#" target="_blank"
                                ><span class="ti-link"> </span
                                >http://google.com</a
                            ></small
                        >
                        <p>
                            Description of the project appears here with the
                            info on the project's objective and list of
                            frameworks and programming languages used. Limited
                            to some characters
                        </p>
                        <p><span class="badge badge-warning">New</span></p>
                    </div>
                </div>
                <hr />
            </div>
        </div>

        <div id="footerContent">
            <span class="logo">
                <a href="https://techpro.club"
                    ><img
                        src="../assets/logos/techpro-club-mini-logo.png"
                        alt="techpro club mini logo"
                /></a>
            </span>
            <span class="menu">
                <a href="mailto:hello@techpro.club">Email</a>
                <a
                    href="https://github.com/ClubTechPro/techpro.club"
                    target="_blank"
                    >Github</a
                >
                <a href="https://twitter.com/ClubTechpro" target="_blank"
                    >Twitter</a
                >
            </span>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="../assets/home/js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../assets/home/js/bootstrap.min.js"></script>
    </body>
</html>
