{{define "content"}}
<h3 class="card-title">Projects Feed</h3>
<div class="panel panel-default">
    <div class="card-body">
        <h3 class="card-title">Project list coming soon</h3>
        <h6 class="card-subtitle mb-2 text-muted">By Techpro.Club</h6>
        <p class="card-text">
            Soon amazing projects will be listed here. While we are
            collaborating with project owners, do checkout this space for more.
            <br />
            In the meanwhile, checkout our Github and follow us on Twitter
        </p>
        <span class="badge badge-warning">News</span>
    </div>
</div>
{{end}}
