{{define "content"}}
<h3>
    <img src="../../assets/app/img/rocket-16.png" alt="rocket" />
    Great! We are all set.
</h3>
<h5>Next steps..</h5>
<p>
    While we are looking for some amazing projects, you may check out our
    repository on
    <a href="https://github.com/ClubTechPro/techpro.club" target="_blank"
        ><b>Github</b>
        <img src="../../assets/logos/thirdparty/github-16.png" /></a
    >. The codebase is written in <b>Golang</b> and completely opensource. Feel
    free to contribute and support us.
</p>
<p>
    Do follow us on
    <a href="https://twitter.com/ClubTechpro" target="_blank"
        ><b>Twitter</b> <img src="../../assets/logos/thirdparty/twitter-16.png"
    /></a>
    and give us a shoutout.
</p>

<p><b>Cheers!!</b></p>
{{end}}
