<html>
    <body>
        <form method="post">
            <h2>Preferred Programming Language(s)</h2>
            <input type="checkbox" id="aspnet" name="language" value="aspnet" />
            <label for="aspnet">ASP.NET</label><br />

            <input type="checkbox" id="c" name="language" value="c" />
            <label for="c">C</label><br />

            <input type="checkbox" id="cpp" name="language" value="cpp" />
            <label for="cpp">C++</label><br />

            <input type="checkbox" id="csharp" name="language" value="csharp" />
            <label for="csharp">C#</label><br />

            <h2>Preferred Notification Frequency</h2>
            <input
                type="radio"
                id="eAny"
                name="emailFrequency"
                checked
                value="Any"
            />
            <label for="eAny">Anytime I have a match</label><br />

            <input
                type="radio"
                id="eWeekly"
                name="emailFrequency"
                value="Weekly"
            />
            <label for="eWeekly">Weekly</label><br />

            <input
                type="radio"
                id="eBiweekly"
                name="emailFrequency"
                value="Weekly"
            />
            <label for="eBiweekly">Bi Weekly</label><br />

            <input
                type="radio"
                id="eMonthly"
                name="emailFrequency"
                value="Monthly"
            />
            <label for="eMonthly">Monthly</label><br />

            <!-- <h2>Preferred Project Type</h2>

            <input
                type="checkbox"
                id="pPluginLibrary"
                name="pType"
                value="pluginLibrary"
            />
            <label for="pPluginLibrary">Library/Plugin</label><br />

            <input
                type="checkbox"
                id="pDatabase"
                name="pType"
                value="database"
            />
            <label for="pDatabase">Database</label><br />

            <input type="checkbox" id="pWebapp" name="pType" value="webapp" />
            <label for="pWebapp">Web Application</label><br />

            <input
                type="checkbox"
                id="pMobileapp"
                name="pType"
                value="mobileapp"
            />
            <label for="pMobileapp">Mobile Application</label><br />

            <input
                type="checkbox"
                id="pDesktopapp"
                name="pType"
                value="desktopapp"
            />
            <label for="pDesktopapp">Desktop Application</label><br />

            <input type="checkbox" id="pOthers" name="pType" value="Others" />
            <label for="pOthers">Others</label><br />

            <h2>Current Project Contributors</h2>

            <input
                type="text"
                id="contributorCount"
                name="contributorCount"
                value="1"
            />
            <br />

            <h2>
                Would you prefer to receive notification/email for a paid job
                from us?
            </h2>

            <input
                type="radio"
                id="paidJobY"
                name="paidJob"
                value="true"
                checked
            />
            <label for="paidJobY">Yes</label><br />

            <input type="radio" id="paidJobN" name="paidJob" value="false" />
            <label for="paidJobN">No</label><br />

            <h2>Are you open for relocation?</h2>

            <input
                type="radio"
                id="relocationY"
                name="relocation"
                value="true"
                checked
            />
            <label for="relocationY">Yes</label><br />

            <input
                type="radio"
                id="relocationN"
                name="relocation"
                value="false"
            />
            <label for="relocationN">No</label><br />

            <h2>Highest Qualification</h2>

            <input
                type="checkbox"
                id="qMasters"
                name="qualification"
                value="Masters Degree"
            />
            <label for="pQualification">Masters Degree</label><br />

            <input
                type="checkbox"
                id="qGraduate"
                name="qualification"
                value="Graduate"
            />
            <label for="qGraduate">Graduate</label><br />

            <input
                type="checkbox"
                id="qHighSchool"
                name="qualification"
                value="High School"
            />
            <label for="qHighSchool">High School</label><br />

            <input
                type="checkbox"
                id="qOthers"
                name="qualification"
                value="Others"
            />
            <label for="qOthers">Others</label><br /> -->

            <input type="submit" value="submit" />
        </form>

        <h3>Note</h3>
        <ul>
            <li>All our communication will be in English only</li>
            <li>
                If opted "yes" for a paid job, there might be other Employer
                conditions before joining
            </li>
        </ul>
    </body>
</html>
