body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
}

.header {
  background-color: #016cc7;
  padding: 15px 40px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}

.logo > img {
  display: block;
  width: 250px;
}

.btn {
  /* text-transform: uppercase; */
  font-weight: 600;
}

.btn-yellow {
  background-color: #fcd93b;
  color: #2a2a2a;
}

.btn-yellow:hover {
  opacity: 1;
}

.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover {
  opacity: 0.65;
}

.panel {
  margin-top: 25px;
  padding: 15px;
}

/* Footer */
.footer {
  background-color: #2a2a2a;
  color: #fff;
  width: 100%;
  padding: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}

.footer p {
  margin-bottom: 0;
}

.footer-credit {
  padding: 40px;
}

.footer ul {
  margin-bottom: 0;
}

ul.footer-menu {
  text-align: right;
}

ul.footer-menu li {
  display: inline-block;
}

ul.footer-menu li a {
  font-size: 12px;
  color: #fcd93b;
  padding-right: 20px;
}

ul.footer-menu li:nth-child(3) a {
  padding-right: 0;
}

ul.footer-menu li a:hover {
  color: #dd5138;
}

/* Hamburger-Menu */
#menu-bar {
  display: none;
}

.sidebar-menu {
  position: fixed;
  width: 25rem;
  top: 0;
  right: -35rem;
  height: 100%;
  background-color: #016cc7;
  padding: 0 2.5rem;
  transition: 300ms ease-in;
  z-index: 10;
}

.sidebar-menu.active {
  display: block;
  right: 0;
}

#sidemenu-close {
  font-size: 2.4rem;
  color: #fff;
  padding: 30px 0;
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 600px) {
  .header,
  .footer {
    padding: 15px 0;
  }
}

@media (min-width: 500px) {
  .sidebar-menu.active {
    display: none;
  }
}

@media (max-width: 500px) {
  #menu-bar {
    display: block;
    font-size: 2.2rem;
    color: #fff;
    cursor: pointer;
  }

  .header .header-menu {
    display: none;
  }

  .sidebar-menu .header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
  }

  .sidebar-menu .header-menu > a {
    width: 100%;
  }
  .sidebar-menu .header-menu > a button {
    display: block;
    width: 100%;
  }
}
